@import "tailwindcss";


@layer base {

  * {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  /* =========================
     LIGHT THEME
  ========================= */
  :root {
    --bg-primary: #F7F9FC;        /* Background */
    --bg-surface: #FFFFFF;        /* Card */
    --primary: #4F46E5;
    --secondary: #6366F1;
    --accent: #22C55E;

    --text-primary: #0F172A;
    --text-secondary: #64748B;

    --border: #E5E7EB;
  }

  /* =========================
     DARK THEME
  ========================= */
  .dark {
    --bg-primary: #0B0F1A;
    --bg-surface: #111827;
    --primary: #6366F1;
    --secondary: #8B5CF6;
    --accent: #22D3EE;
    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;

    --border: #1F2937;
  }

  /* =========================
     BODY
  ========================= */
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }

  /* =========================
     CONTAINER
  ========================= */
  .container-custom {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 1rem;
  }

  /* =========================
     CARD
  ========================= */
  .card {
    background: var(--bg-surface);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 1.5rem;
  }

  /* =========================
     TEXT
  ========================= */
  .text-primary-custom {
    color: var(--text-primary);
  }

  .text-secondary-custom {
    color: var(--text-secondary);
  }

  /* =========================
     BUTTONS
  ========================= */
  .btn-primary {
    background: var(--primary);
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
  }

  .btn-primary:hover {
    background: var(--secondary);
  }

  .btn-accent {
    background: var(--accent);
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
  }

  .btn-accent:hover {
    opacity: 0.9;
  }

  /* =========================
     INPUT
  ========================= */
  .input-primary {
    background: var(--bg-surface);
    border: 1px solid var(--border);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: var(--text-primary);
  }

  .input-primary:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.3);
  }

  /* =========================
     HEADINGS
  ========================= */
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary);
   
  }
  /* Hide scrollbar but still scrollable */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


}
